* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: rgb(96, 154, 134);
  font-family: "Purple Purse";
  line-height: 1.6;
  font-size: 18px;
}

header {
  background-color: rgb(96, 154, 134);
  width: 100%;
  height: 5rem;
  padding: 10px 10%;
  align-items: center;
  position: fixed;
  z-index: 1000;
  text-wrap: nowrap;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.title {
  font-size: 20px;
  color: white;
}

ul {
  background-color: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  height: 40px;
}

a {
  color: rgb(255, 255, 255);
  height: 100%;
}

.container-start {
  height: 100vh;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  z-index: 0;
  align-items: center;
  position: relative;
  padding-top: 80px;
  width: 100%;
}

.background-images {
  margin-top: 1vw;
  width: 100%;
  height: 100%;
  display: flex; /* Enable flexbox on the parent container */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Centers the children horizontally */
}

.dev {
  width: 90%;
  display: flex; /* Enable flexbox on the parent container */
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-start; /* Align children to the top of the container */
  align-items: center; /* Centers the children horizontally */
  margin-top: 1vw;
  height: 100%;
  gap: 30px;
}

.dev-bottom-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dev-top,
.dev-bottom {
  z-index: 3;
  padding: min(1%, 10px);
  width: 80vw; /* Ensures both elements have the same width */
  max-width: 800px;
}

.profile-img-one {
  position: absolute;
  top: 170px;
  left: 18vw;
  width: 410px;
  height: 490px;
  object-fit: cover;
  z-index: 2;
}

.container-quote {
  position: absolute;
  top: calc(500px + 1.5vw);
  left: 0;
  width: 100%;
  height: 12vw;

  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0;
  width: 50%;
  height: 100%;
  padding: 0 5%;
}

.intro-txt {
  width: 100%;
  font-size: calc(8px + 1.5vw);
  text-align: left;
}

.scroll-button {
  position: absolute;
  bottom: -3.5%;
  left: 50%;
  transform: translateX(-50%); /*Is this correct?? */
  align-items: center;
  width: 100px;
  height: 100px;
  z-index: 2;
  text-decoration: none;
  border-radius: 30px;
  border-style: none;
}

.get-in-touch,
.theme,
button,
.age,
a {
  border-radius: 100px;
  padding: 10px 10px;
}

.get-in-touch {
  background-color: #e496a9;
}

.theme {
  background-color: #3e3e3e;
}

.background {
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: 0; /* This anchors it to the bottom */
  left: 0; /* Ensures it spans the full width */
  z-index: -1;
}

.start-bottom-color {
  background-color: #3e3e3e;
}

@media only screen and (max-width: 630px) {
  .profile-img-one {
    position: absolute;
    align-self: center;
    width: 60%;
    left: 50%;
    transform: translateX(-50%); /*Is this correct?? */
  }
}

.introduction {
  height: 120vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  gap: 20px; /* Optional: Adds spacing between items */
}

.hello {
  font-size: 5vw;
}

.introduction-text {
  color: #000000;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 200px 40px;
  gap: 12px;
}

.inner-image-container,
.introduction-text {
  width: 50%;
  height: 100%;
  min-width: 300px;
}

.introduction-text-top {
  flex: 1;
}

.introduction-text-bottom {
  margin-top: 0px;
}

.introduction-text-top,
.introduction-text-bottom {
  margin: 0px 0px 0px 10px;
}

.github-img {
  width: 36px;
  height: 36px;
}

.git-button {
  background-color: #e496a9;
  display: flex;
  height: fit-content;
  width: fit-content;
  align-items: center;
  align-self: flex-end;
  padding: 10px 25px 5px 25px;
  margin: 0px 0px 0px 10px;
  gap: 30px;
  font-size: 28px;
}

.introduction-image-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  height: 100%;
  padding: 0px 20px 0px 0px;
}

.age {
  background-color: #e496a9;
  position: absolute;
  margin-top: 60px;
  margin-left: -320px;
}


.profile-img-two {
    width: 100%;
    height: 600px;
    object-fit: cover; /* Ensures the image covers the entire area of the container */
}


.introduction-bottom-container {
  background-color: #3e3e3e;
  margin-top: 0;
  height: 100%;
}

.inner-image-container {
  color: #000000;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 100%;
}

.introduction-bottom-container,
.introduction-top-container {
  width: 400px;
  align-self: center;
}

.introduction-top-container {
  margin: 90px 0px 0px 0px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.background-block-one {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 780px;
  z-index: -5;
}


@media only screen and (max-width: 1300px) {
  .introduction-text {
    font-size: 22px;
    width: 50%;
  }

  .git-button {
    display: flex;
    height: fit-content;
    width: fit-content;
    align-items: center;
    align-self: flex-end;
    padding: 0px 20px 0px 20px;
    gap: 30px;
    font-size: 24px;
  } 
}

@media only screen and (max-width: 950px) {
  .introduction {
    height: fit-content;
    flex-direction: column;
    gap: 80px;
  }

  .introduction-text {
    height: fit-content;
    width: 100%;
  }

  .inner-image-container {
    height: 100vh;
  }

  .introduction-image-container {
    width: 100%;
    padding: 0px;
  }

  .hello {
    font-size: 40px;
  }
  .introduction-text {
    font-size: 20px;
    padding: 40px 40px 40px 40px;
  }

  .introduction-bottom-container,
  .introduction-top-container {
    width: 400px;
    align-self: center;
  }
  
.introduction-top-container {
  margin: 0px 0px 0px 0px;
}

.age {
  margin-top: -30px;
  margin-left: -260px;
}

.background-block-one {
  height: 1280px;
}
}
