@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
}

body {
  background-color: #f4f1de;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-size: 18px;
  overflow-x: hidden;
}

/*GENERAL*/
.main {
  font-family: "Lora", "Public Sans", sans-serif;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.title,
a,
label,
button {
  color: #f4f1de;
  font-size: 24px;
  font-family: "Lora", "Public Sans", sans-serif;
}

.submit button {
  color: #3e3e3e;
  font-size: 24px;
  font-family: "Lora", "Public Sans", sans-serif;
}

::placeholder,
.error {
  color: #3e3e3e;
  font-size: 18px;
  font-family: "Lora", "Public Sans", sans-serif;
}

h1 {
  color: #f4f1de;
  font-size: 58px;
}

h2 {
  color: #f4f1de;
  font-size: 50px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
}

p {
  color: #f4f1de;
  font-size: 24px;
  font-family: "Public Sans", sans-serif;
}

.round {
  border-radius: 50px;
}

button,
.button {
  padding: 3px 10px;
  margin: 0 3px;
  background: none;
  border: none;
}

.get-in-touch {
  background-color: #e496a9;
}

.theme {
  background-color: #3e3e3e;
}

.full-container {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.half-container {
  width: 50%;
  height: 100%;
  padding: 40px 10px;
}

.inner-container {
  position: relative;
  background-color: #609a86;
  height: 90%;
  align-content: center;
  justify-items: center;
  border-radius: 100px;
  padding: 20px;
}

.intro,
.skills,
.contact {
  border-radius: 100px;
  padding: 20px;
  display: flex;
}

.start {
  margin-bottom: 10px;
  margin-top: 10px;
}

.bottom {
  margin-bottom: 80px;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 20px;
}

.divider-line {
  height: auto;
  overflow: visible;
}

.inner-container,
.divider-line,
.header-inner {
  width: 80%;
}

/*HEADER*/

/* HEADER */
header {
  background-color: rgb(96, 154, 134);
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}

/*START*/
.profile-one {
  position: absolute;
  left: 3%;
  top: 15%;
  z-index: 50;
  overflow: hidden;
  width: 39%;
  height: 72%;
  border-radius: inherit;
}

img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dev-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.dev-vector {
  align-items: center;
  justify-content: center;
  flex: 1;
  display: flex;
  transform: scale(1.2);
  width: 100%;
  height: 100%;
  max-width: 80%;
  max-height: 90%;
  gap: 0.5vw;
  z-index: 10;
}

.in-front {
  z-index: 100;
}

.button-container {
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-btn {
  position: relative;
  bottom: 50px;
  z-index: 100;
}

.scroll-svg {
  width: 100%;
  height: 100%;
}

/*INTRODUCTION*/
.left-intro {
  display: flex;
  flex-direction: column;
  color: #f4f1de;
}

.intro-txt {
  flex: 1;
}

.intro-txt,
.top-skills,
.contact-txt {
  padding-left: 50px;
}

.intro-txt p {
  padding: 40px 60px 0px 0px;
}

.git {
  background-color: #e496a9;
  width: 100%;
  height: 15%;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.git-logo {
  display: flex;
  align-items: center;
  min-width: 60px;
}

.git-img {
  transform: translateX(-50%);
}

.right-intro {
  color: #3e3e3e;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.age {
  position: absolute;
  background-color: #efc583;
  height: 120px;
  width: 15%;
  min-width: 250px;
  max-width: 300px;
  align-content: center;
  justify-items: center;
  z-index: 10;
  text-align: center;
  line-height: 45px;
}

.profile-two {
  align-self: flex-start;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  flex: 1;
  margin-top: 70px;
}

.img-text {
  background-color: #f4f1de;
  width: 100%;
  height: 15%;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.img-text h4 {
  text-align: center;
}

/*SKILLS*/
.skills {
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  color: #3e3e3e;
}

.bottom-skills {
  display: flex;
  flex: 1;
  gap: 10px;
}

.left-skills,
.right-skills {
  flex: 1;
  height: 100%;
}

.education,
.skill-areas {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.education {
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
}

.skill-areas {
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;
}

.square {
  background-color: #efc583;
  border-radius: 50px;
  aspect-ratio: 1;
  padding: 50px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.square,
.area-box {
  height: 80%;
}

.education-text {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.area-box {
  border-radius: 50px;
  width: 80%;
  padding: 20px;
  display: flex;
  align-items: flex-start;
}

.skills-text {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 3%;
  padding-left: 10px;
}

.development {
  background-color: #e496a9;
}

.stack {
  background-color: #f4f1de;
}

/*CONTACT*/
.contact {
  display: flex;
  padding: 50px 30px;
}

.contact-txt {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contact-info {
  background-color: #efc583;
  width: 80%;
  height: 70%;
  padding: 20px;
  justify-self: center;
}

.contact-info p {
  color: #3e3e3e;
}

.right-contact {
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-form {
  background-color: #e496a9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 80%;
  width: 90%;
  padding-top: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input,
textarea {
  width: 80%;
  padding: 20px;
}

.submit {
  background-color: #f4f1de;
  padding: 20px 40px;
  width: 50%;
  text-align: center;
}

/*FOOTER*/

footer {
  background-color: #609a86;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
  bottom: 0;
  left: 0;
  width: 100%;
}

.dash {
  margin: 0 15px;
}

/*ADAPTIVITY*/
@media (max-width: 2048px) {
  .header-inner {
    gap: 100px;
  }
}

@media (max-height: 1080px) {
  .inner-container {
    min-height: 800px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 14px;
  }

  .contact-form {
    gap: 10px;
    height: 90%;
  }

  textarea.message-area {
    height: calc(1.5em * 5);
  }
}

@media (max-width: 1366px) and (max-height: 1024px) {
  .inner-container {
    min-height: 800px;
  }

  .square,
  .area-box {
    height: 100%;
  }

  .square {
    margin-left: 10px;
  }

  .left-skills {
    flex: 0;
    width: 70%;
  }

  .education,
  .skill-areas {
    gap: 10px;
  }

  .right-skills {
    flex: 1;
    width: 100%;
  }

  textarea.message-area {
    height: calc(1.5em * 10);
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 13px;
  }

  p {
    font-size: 20px;
  }

  .scroll-btn {
    scale: 0.7;
  }
}

@media (max-width: 1024px) and (max-height: 1366px) {
  .intro-txt,
  .top-skills,
  .contact-txt {
    padding-left: 0px;
  }

  .inner-container {
    height: 1000px;
  }

  .start {
    padding-top: 30px;
  }

  .inner-container,
  .divider-line,
  .header-inner {
    width: 95%;
  }

  .profile-one {
    position: absolute;
    left: 3%;
    top: 15%;
    z-index: 50;
    overflow: hidden;
    width: 39%;
    height: 72%;
    border-radius: inherit;
  }

  .profile-one {
    left: 50%;
    top: 50%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
  }

  .flex {
    flex-direction: column;
  }

  .intro,
  .skills,
  .contact {
    height: fit-content;
  }

  .full-container {
    height: fit-content;
  }

  .half-container {
    width: 100%;
    height: 50%;
  }

  .intro-txt,
  .contact {
    justify-items: center;
    text-align: center;
  }

  .intro-txt p {
    padding: 40px 60px 100px 0px;
  }

  .left-intro {
    padding-bottom: 100px;
  }

  .profile-two {
    background-color: #e496a9;
    flex: 1;
  }

  .profile-two,
  .img-text,
  .git {
    width: 70%;
    align-self: center;
  }

  .profile-two img {
    transform: translateX(-50%);
    object-fit: cover;
    scale: 1.1;
  }

  .right-intro {
    display: flex;
  }

  .age {
    margin-left: 100px;
  }

  .area-box {
    height: 100%;
    width: 85%;
  }

  .skills-text {
    text-align: center;
  }

  .skill-areas {
    gap: 20px;
  }

  .top-skills {
    justify-items: center;
    text-align: center;
  }

  .intro-txt p {
    padding: 40px 0px 100px 0px;
  }

  .contact-txt {
    align-items: center;
    text-align: center;
  }

  .contact-form {
    gap: 8px;
    height: 560px;
  }

  .scroll-btn {
    scale: 0.7;
  }

  header {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 20px;
    gap: 10vw;
  }

  .start {
    margin-bottom: 10px;
    margin-top: 90px;
  }

  ul {
    justify-self: center;
  }
}

@media (max-width: 900px) {
  .header-inner {
    flex-direction: column;
    gap: 0px;
    padding-bottom: 2px;
  }

  header {
    height: 12px;
  }

  .title {
    visibility: hidden;
    height: 0px;
  }

  .title,
  a,
  button {
    color: #f4f1de;
    font-size: 14px;
    font-family: "Lora", "Public Sans", sans-serif;
  }

  .start {
    margin: 0;
    padding: 0;
  }

  .area-box {
    height: fit-content;
  }
}
